/* External CSS */

/* body is a CSS Selector */
/* {} idicates a CSS Declaration */
body {
  /* property:value; is a CSS Rule */
  background-color: #fdfdfd;
  color: #0d0d0d;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

.headerLogo {
  padding: 8px;
  border: 2px solid black;
  border-radius: 50%;
}

.redContainer {
  height: 200px;
  width: 200px;
  background-color: red;
}

ul {
  display: flex;
  justify-content: end;
  gap: 15px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* MAIN */
section {
  height: 100vh;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: center;
}

.flyToFront {
  animation-name: flyIn;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-range-start: 0s 2s;
  animation-range-end: 4s 6s;
  /* animation-range: 0s 20s; */

}

.donut {
  height: 100px;
  background-color: pink;

}

@keyframes flyIn {
  from {
    transform: scale(0%);
  }
  to {
    transform: scale(100%);
  }

}